
body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    
}
input{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: dotted;
    border-right-style: hidden;
    background-color: rgba(1, 1, 1, 0);
}
.timer{
    text-align: right;
}
input{
    width: 70%;
    height: 70%;
}
.right{
    text-align: right;
}
